.blogCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 25px;
    justify-items: center;
}

.blogCard{
    border-radius: 10px;
    overflow: hidden;
    height: 550px;
    width: 300px;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
}

.blogCard:hover>.blogThumbnail{
    transform: scale(1.05);
}

.blogCardDes{
   padding: 20px;
}

.blogCardDes div p{
    font-size: 0.9rem;
    opacity: 0.9;
}

.blogCardDes div p i{
    padding-right: 5px;
}

.blogCardDes h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    height: 110px;
}

.blogCardDes h3:hover{
    color: var(--light-blue);
}

.blogCardDes div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.blogSummary{
    opacity: 0.9;
}

.newsAndCategoryCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsContainer{
   padding: 20px;
   margin-top: 20px;
   width: 320px;
}

.categoryContainer{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;
}

.blogCard h1{

}

.blogThumbnail{
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: all ease-in-out 0.3s;
}

.btnCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.showMoreBtn{

}

.singleBlogCont{
    margin-top: 50px;
}

.singleBlogCont .left{
    width: 80%;
}

.singleBlogCont .left h1{
   margin-bottom: 20px;
   font-weight: 600;
}

.convertedContent{
  margin-bottom: 50px;
}

.convertedContent h1, .convertedContent h2, .convertedContent h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 500;
}

.convertedContent h2{
    font-size: 1.5rem;
}

.convertedContent h3{
    font-size: 1.3rem;
}

.convertedContent img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.singleBlogCont .left{
    width: 100%;
    max-width: 1000px;
}

.singleBlogCont{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.singleBlogCover{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.singleBlogCont .leftInfo{
    display: flex;
    margin-bottom: 15px;
}

.singleBlogCont .leftInfo .category{
    margin-right: 20px;
    background-color: var(--light-skyblue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.singleBlogCont .leftInfo .date{
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.singleBlogTitle{
    font-size: 2.5rem;
}

.blogList{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogHeading{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.blogParagraph{
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogLink{
    text-decoration: none;
    color: var(--brown);
    font-weight: 500;
}

.blogQuote{
    font-style: italic;
    border-left: 3px solid var(--light-blue);
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blogImg{
    margin-top: 30px;
}