.home::-webkit-scrollbar{
    display: none;
}

.heroSection{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 50px;
    max-height: 1200px;
}

.heroImg img{
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.heroImg{
    position: relative;
    width: 100vw;
}

.heroText{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:8vw;
    z-index: 10;
}

.heroImgOverlay{
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    background: rgb(255,255,255);
    background: linear-gradient(81deg, rgba(255,255,255,1) 22%, rgba(255,255,255,0.6867997198879552) 55%, rgba(255,255,255,0) 79%);
    height: 100%;
    width: 100%;
    z-index: 9;
}

.heroText{
    height: 70%;
    width: 50%;
    max-height: 700px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heroText h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.heroText .btn{
    text-decoration: none;
    font-size: 1rem;
    width: fit-content;
    padding: 15px;
}

.who-are-we{
  padding: 8px 8vw 8px 8vw;
}

.who-are-we .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.who-are-we .image img{
    width:90%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.who-are-we .container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.who-are-we .container .text .secDes2{
    max-width: 500px;
}

.homeUsp{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    transform: scale(1);
    margin-top: 20px;
}

.homeUsp .box{
   padding: 5px;
   display: flex;
   align-items: center;
   margin-top: 10px;
   width: 80%;
}

.homeUsp .box i{
    margin-right: 10px;
    background-color: var(--dark-skyblue);
    padding: 10px;
    border-radius: 50%;
    color: white;
}

/*-----------Our Services Section----------*/
.home-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-service-card-container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap:40px;
}

.home-service-card{
   padding: 10px;
   border: 1px solid #3484ac4b;
   text-align: center;
   border-radius: 10px;
}

.home-service-card h3{
   font-weight: 600;
}

.home-service-card p{
   text-align: center;
   padding-left: 30px;
   padding-right: 30px;
   opacity: 0.8;
   padding-bottom: 20px;
   padding-top: 10px;

}

.home-service-card img{
    padding: 20px;
}

/*-------------Numbers Section--------------*/

.homeNumbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--dark-skyblue);
    color: white;
    min-height: 200px;
    background: url("/images/numSec.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.hnCard h1{
    font-size: 3rem;
}

.hnCard h1, .hnCard p{
    color: white;
    text-align: center;
}

/*------Our Team---------*/

.homeTeamContainer{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap:30px;
    justify-items: center;
}

.homeTeamCard{
    width: fit-content;
    background-color: #E7F0FE;
}

.homeTeamCard img{
    height: 350px;
    width: 300px;
    object-fit: cover;
}

.homeTeamCard h3{
    text-align: center;
    font-weight: 600;
}

.homeTeamCard p{
     text-align: center;
     padding-bottom: 10px;
}

/*-----------Mini Gallery---------*/

.miniGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow: hidden;
    display: none;
}

.miniGallery img, .miniGallery div{
    height: 200px;
    margin-bottom: -7px;
}

.miniGallery div{
    background-color: var(--dark-skyblue);
    height: 200px;
}

@media (max-width:800px)
{
    .heroText{
        transform: scale(0.9);
        margin-top: 0px;
        padding-top: 0px;
        top:1%;
        height: 100%;
        width: 60%;
    }

    .who-are-we .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .who-are-we .image img{
        height: 400px;
        margin-bottom: 30px;
        width: 100%;
    }

    .who-are-we .container .text .secDes2{
        width: 90%;
        max-width: none;
    }

    .miniGallery img{
        height: auto;
        margin: -5px;
        width: 100%;
    }
}

@media (max-width:400px)
{
    .heroText{
        width: 80%;
        top:10%;
        height: 80%;
    }

    .homeUsp{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        transform: scale(1);
    }

    .homeNumbers{
        flex-direction: column;
        min-height: 600px;
    }
}