*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

  /*------Color Pallate-------*/
  --dark-brown:#5C0E16;
  --brown:#A01F24;
  --light-brown:#9C4444;
  --very-light-brown:#7C445C;
  --very-dark-blue:#102851;
  --dark-blue:#042C6C;
  --blue:#0B3D6F;
  --light-blue:#04437F;
  --dark-skyblue:#13679E;
  --skyblue:#3484AC;
  --light-skyblue:#4E7398;

  
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--very-dark-blue);
}

html,body{
  overflow-x: hidden;
  overflow-y: auto;
}

/*------Fonts--------*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/*-------Links Styling-----*/
.linkType1{
  text-decoration: none;
  color: var(--very-dark-blue);
}

.linkType1:hover{
  color: var(--brown);
}

.sectionPadding{
  padding: 8px 8vw 8px 8vw;
}

.sectionPadding2{
  padding: 40px 8vw 40px 8vw;
}

.btn{
  background-color: var(--dark-skyblue);
  padding: 8px;
  color: white;
  border-radius: 5px;
}

.btn:hover{
  background-color: var(--very-dark-blue);
  color: white;
}

.show{
   display: block;
}

.showFlex{
  display: flex;
}

.hide{
  display: none;
}

::-webkit-scrollbar{
  display: none;
}

/*------Section styling------*/
.secTitle{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.secDes1{
   font-size: 0.9rem;
   color: var(--brown);
}

.secDes2{

}